/* Estilos globales para el cuerpo de la página */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #0074e4, #00c5e4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el contenido central */
.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* Estilos para el texto dentro del contenedor */
h1 {
  font-size: 36px;
  color: #333;
}

p {
  font-size: 18px;
  color: #666;
}

/* Estilos para elementos de entrada redondeados */
.rounded-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}
/* Estilos globales para el cuerpo de la página */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #0074e4, #00c5e4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el contenido central */
.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* Estilos para el texto dentro del contenedor */
h1 {
  font-size: 36px;
  color: #333;
}

p {
  font-size: 18px;
  color: #666;
}

/* Estilos para elementos de entrada redondeados */


input{
   width: 100%;
  padding: 10px;
  border: 1px solid #8be8ff;
  border-radius: 8px;
  margin-bottom: 10px; 
}

button{
  display: block;
  margin: 0 auto;
  width: 15em;
  height: 50px ;
  background-color: #12dcfb;
  border: 1px solid #2c95b0;
  border-radius: 8px;
  margin-bottom: 10px; 
  font-weight: 500;
}